body {
    margin: 0;
    padding: 0;
    background-color: #ff455e6c;
    font-family: 'Noto Sans SC', sans-serif;

}

.box1 {
    width: 400px;
    height: 400px;
    background-color: #fff;
    float: left;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 10px black; 
}
.box1 h1{
    text-align: center;
    padding-top: 15px;
}
.social-icon-list
{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.social-icon-list ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.social-icon-list ul li{
     display: inline-block;
     width: 40px;
     height: 40px;
     text-align: center;
     border-radius: 100%;
     /* border-color: black; */
     margin: 0px 8px;
}
.social-icon-list ul li a{
    display: block;
    color: white;
    font-size: 20px;
}
.social-icon-list ul li a i{
    line-height: 40px;
}
.social-icon-list ul li:nth-child(1){
    background-color: #3b5999;
}
.social-icon-list ul li:nth-child(2){
    background-color: #55acee;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.596);
}
.textbox{
    width: 60%;
    height: 30px;
    background-color: #EEEEEE;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-left: 80px;
    padding-left: 10px;
    margin-bottom: px;
}
h4{
    text-align: center;
    font-weight: 100;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.596);
}
.bt{
    text-align: center;
}
.btn{
       
       background-color: #FF4A2D;
       width: 30%;
       height: 40px;
       color: white;
         font-size: 15px;
       border-radius: 50px;
       border: none;
       outline: none;
       cursor: pointer;
       letter-spacing: 5px;
}
.btn:hover{
    background-color: yellowgreen;
}
.box2{
    width: 400px;
    height: 400px;
    background-image: url('../computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-top: 10%;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 15px black;
}
.box2 h1{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 65px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.596);
}
.box2 p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.623);
}